node_modules/
.env
.env.local
dist/
build/
*.log
.DS_Store
.vscode/settings.json
*.pem
.idea/
coverage/
.pytest_cache/
__pycache__/
.next/
out/
.turbo/
.vercel/
.swc/
.test/
temp/
tmp/
*.sqlite
*.db
postgres_data/
redis_data/
n8n_data/
